n8n/workflows/lifeadmin-check-workflows.json
{
  "name": "LifeAdmin - Check Workflows",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 1
            }
          ]
        }
      },
      "id": "a1b2c3d4-cron",
      "name": "Every Minute",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [250, 300],
      "notes": "Triggers every minute to check for due workflows. For production, change to 5 or 15 minutes."
    },
    {
      "parameters": {
        "method": "GET",
        "url": "http://localhost:3001/api/check-workflows",
        "options": {
          "timeout": 30000
        }
      },
      "id": "a1b2c3d4-http",
      "name": "Check LifeAdmin Workflows",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [480, 300],
      "notes": "Calls the LifeAdmin backend to check and execute due workflows"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "condition-1",
              "leftValue": "={{ $json.executedWorkflows.length }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "a1b2c3d4-if",
      "name": "Workflows Executed?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [700, 300],
      "notes": "Check if any workflows were executed"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "assign-1",
              "name": "summary",
              "value": "={{ $json.executedWorkflows.length }} workflow(s) executed at {{ $json.timestamp }}",
              "type": "string"
            },
            {
              "id": "assign-2",
              "name": "details",
              "value": "={{ $json.executedWorkflows.map(w => w.id + ': ' + w.target_url + ' (' + (w.result.success ? 'Success' : 'Failed') + ')').join(', ') }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "a1b2c3d4-set-success",
      "name": "Format Success",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [920, 200],
      "notes": "Format the success message"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "assign-1",
              "name": "summary",
              "value": "No workflows due at {{ $json.timestamp }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "a1b2c3d4-set-none",
      "name": "No Workflows Due",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [920, 400],
      "notes": "No workflows were due for execution"
    }
  ],
  "connections": {
    "Every Minute": {
      "main": [
        [
          {
            "node": "Check LifeAdmin Workflows",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check LifeAdmin Workflows": {
      "main": [
        [
          {
            "node": "Workflows Executed?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Workflows Executed?": {
      "main": [
        [
          {
            "node": "Format Success",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Workflows Due",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner"
  },
  "versionId": "2",
  "meta": {
    "instanceId": "lifeadmin-hackathon"
  },
  "tags": []
}
